.notas-container {
    padding: 20px;
}

.notas-form-container {
    margin-bottom: 20px;
}

.notas-list {
    margin-top: 20px;
}

.notas-scrollable {
    max-height: 300px; /* Ajuste a altura máxima conforme necessário */
    overflow-y: auto;
}

.nota-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.card {
    margin-bottom: 10px;
}

.list-container-scrollable {
    max-height: 400px; /* Ajuste a altura máxima conforme necessário */
    overflow-y: auto;
}

.card .btn-danger {
    margin-left: 10px;
}